<div class="blogpanel">
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  <% if @posts.any? %>
    <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
    <%= will_paginate @posts %>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>

  <%if Refinery::Pages.default_parts.many?%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
  <% end%>
</div>
<%= render :partial => '/refinery/blog/shared/body_content_right' %>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>

