<div class="blogpanel">
  <div class="blogstuff">
    <h3 class="heading">Category: <%= @category.title %></h3>
      <% if @posts.any? %>
          <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
          <%= will_paginate @posts %>
      <% else %>
        <p>
          <%= t('.no_posts') %>
        </p>
      <% end %>

  </div>
</div>
  <%= render :partial => '/refinery/blog/shared/body_content_right' %>
  <% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
