<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>

<% end -%>

<div class="topbar">
  <div class="frame">
    <div class="header">
      <ul class="rightnav">
          <li><label>App available:</label>
            <a href="#"><%= image_tag("icon_apple.png", :alt=>"") %></a> &nbsp; 
            <a href="#"><%= image_tag("icon_android.png", :alt=>"") %></a></li>
          <li>
            <a href="http://pinterest.com/golfhero1/" target=\"_blank\"><%= image_tag("icon_p.png", :alt=>"Pin It", :title=>"Pin It") %></a>
            <a href="https://www.facebook.com/pages/Golf-Hero/221834854623756" target=\"_blank\"><%= image_tag("icon_fb.png" , :alt=>"Facebook") %></a>
            <a href="https://twitter.com/golfhero2012" target=\"_blank\"><%= image_tag("icon_twitter.png", :alt=>"Twitter") %></a></span>
          </li>
      </ul>
      <ul class="leftnav">
        <%= render :partial => '/refinery/menu_branch', :collection => roots,
         :locals => {
           :hide_children => hide_children,
           :sibling_count => (roots.length - 1),
           :menu_levels => local_assigns[:menu_levels],
           :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
         } -%>
      </ul>
    </div>
  </div>
</div>